{% extends 'todo_main/common/header.html' %}
{% load staticfiles %}
{% block main %}
<section id="blog">
  <div class="container">
    <table class="table table-bordered">
          <thead>
            <tr>
              <th>제목</th>
              <th>내용</th>
              <th>마감일</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>{{ todo_list.title }}</td>
            <td>{{ todo_list.content }}</td>
            <td>{{ todo_list.end_date }}</td>
          </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'todo_board:todo_board_update' pk=todo_list.no %} '">수정</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'todo_board:todo_board_delete' pk=todo_list.no %} '">삭제</button>
  </div>
</section>

{% endblock main %}