{% extends 'todo_main/common/header.html' %}
{% load staticfiles %}
{% block main %}

<div class="alert alert-info">
    <strong>마감이 지난 일정!</strong> {{ over_end_day }}
</div>
<div class="alert alert-info">
    <strong>마감이 가까운 일정!</strong> {{ close_end_day }}
</div>
<div class="col-md-4">
    <div class="container">
        <h2>기한 있는 일정</h2><br>
        <div id="todo_list_endDate" class="list-group col">
            {% for list in todo_list_endDate_non_complete %}
            <div class="list-group-item" div_pk={{list.no}} priority={{list.priority}}><input type="checkbox" pk={{list.no}} name="end_non_complete" value={{list.title}}> <a href="{% url 'todo_board:todo_board_detail' pk=list.no %}">{{list.title}}</a><p>{{list.end_date}}</p></div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="container">
        <h2>기한 없는 일정</h2><br>
        <div id="todo_list_no_endDate" class="list-group col">
        {% with end_date="마감일 없음" %}
            {% for list in todo_list_no_endDate %}
            <div class="list-group-item" div_pk={{list.no}}><input type="checkbox" pk={{list.no}} name="no_endDate_non_complete" value={{list.title}}> <a href="{% url 'todo_board:todo_board_detail' pk=list.no %}">{{list.title}}</a><p>{{end_date}}</p></div>
            {% endfor %}
        {% endwith %}
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="container">
        <h2>마감 된 일정</h2><br>
        <div class="list-group col">
            {% for list in todo_list_endDate_complete %}
            <div class="list-group-item list-group-item-success" div_pk={{list.priority}}><input type="checkbox" pk={{list.no}} name="complete" value={{list.title}}> <a href="{% url 'todo_board:todo_board_detail' pk=list.no %}">{{list.title}}</a><p>{{list.end_date}}</p></div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-12">
      <button type="button" class="btn btn-primary" onclick="location.href='{% url 'todo_board:todo_board_insert' %} '">
            일정추가
      </button>
      <button type="button" class="btn btn-primary" onclick="prioirty_save()">
            우선순위 저장
      </button>
</div>

{% endblock main %}